@font-face {
  font-family: "Phonebook";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/PhonebookFont.woff2") format("woff2"),
       url("../fonts/PhonebookFont.woff") format("woff");
}