.site-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  min-width: 800px;
  background-color: $secondary-color;
}

.site-container__header {
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: $main-color;
  }
}

.site-container__title {
  &::before {
    content: "";
    width: 50px;
    height: 50px;
    margin-right: 15px;
    background-image: url("../img/pb-icon.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.site-container__footer {
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: $main-color;
    margin-bottom: 24px;
  }
}

@include breakpoint-down (800px) {
  .site-container {
    min-width: 700px;
  }
}

@include breakpoint-down (700px) {
  .site-container {
    min-width: 600px;
  }
}

@include breakpoint-down (600px) {
  .site-container {
    min-width: 500px;
  }
}

@include breakpoint-down (500px) {
  .site-container {
    min-width: 400px;
  }
}

@include breakpoint-down (400px) {
  .site-container {
    min-width: 300px;
  }
}

@include breakpoint-down (440px) {
  .site-container__title {
    font-size: 46px;
  }
}

@include breakpoint-down (380px) {
  .site-container__title {
    font-size: 36px;
  }

  &::before {
    margin-right: 8px;
  }
}